@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    font-family: "Lexend", sans-serif;
}

#btn-card:focus{
    
    color: #111111;
}

#btn-history:focus{
    
    color: #111111;
}


@media only screen and (max-width: 576px) {
    /* #logo{
        display: none;
    } */
    .cards{
        flex-direction: column;
    }
  }
@media only screen and (max-width: 900px) {
    .cards{
        flex-direction: column;
    }
  }